<div class="header">
  <button mat-icon-button class="navBtn" 
      (click)="navOpen = !navOpen">
      <mat-icon>{{navOpen? 'close' : 'menu'}}</mat-icon>
  </button>
  <div *ngIf="!navOpen" class="header-text text">{{currentRoute === '/home'? 'R & D' : currentRoute === '/rsvp'? 'RSVP' : 'THINGS TO KNOW'}}</div>
</div>
<div class="scroller">
  <div *ngIf="navOpen">
      <ul class="nav-container">
          <li class="nav-link" (click)="navigate('/home')">
              <span class="link-text" [ngClass]="{'active': currentRoute === '/home'}">Home</span>
          </li>
          <li class="nav-link" (click)="navigate('/things-to-know')">
              <span class="link-text" [ngClass]="{'active': currentRoute === '/things-to-know'}">Things to know</span>
          </li>
          <li class="nav-link" (click)="navigate('/rsvp')">
              <span class="link-text" [ngClass]="{'active': currentRoute === '/rsvp'}">RSVP</span>
          </li>
      </ul>
  </div>
  <div *ngIf="!navOpen" class="body-container">
      <router-outlet></router-outlet>
      <footer>
          <div class="footer-container">
              <div class="footer-initials">R&D</div>
              <div class="footer-date">12.16.2023</div>
          </div>
      </footer>
  </div>
</div>