@import './assets/scss/color/colors';

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: 'Josefin Sans';
    background-color: $primary;
}

.text {
    color: $tertiary;
}

@import './assets/scss/app';
@import './assets/scss/home';
@import './assets/scss/thing-to-know';
@import './assets/scss/rsvp';